@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>button</title>
    <link href="~/Scripts/layui-v2.6.8/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <style>
        blockquote {
            margin-top: 10px;
        }

        .site-demo-button .layui-btn {
            margin: 0 7px 10px 10px;
        }

        .layui-form-item {
            margin: 0 auto;
            width: 100%;
        }

        .layui-row {
            background: #ffffff;
            opacity: 0.8;
            display: block;
            padding: 5% 0 5% 45%;
            width: 100%;
            margin-top: 10%;
        }

        body {
            background: url(/images/u0.png);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            height: 100%;
        }

        .layui-input-inline img {
            position: absolute;
            margin-top: 8px;
            margin-left: 15px;
            width: 15px;
            height: 20px;
        }

        .layui-input-inline input {
            text-indent: 2em;
            float: left;
        }

        .layui-inline {
            padding-top: 10px;
        }

        .layui-input-inline .image {
            margin-top: 0px;
            margin-left: 5px;
            width: 70px;
            height: 35px;
            float: left;
        }
    </style>
</head>

<body>

    <div class="layui-row">
        <div class="layui-form-item">
            <form class="layui-form" id="UserLoginForm">
                <div class="layui-form-item layui-inline">
                    <div class="layui-input-inline">
                        <img src="/images/u13.png" />
                        <input type="text" name="userName" lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <div class="layui-input-inline">
                        <img src="/images/u11.png" />
                        <input type="password" name="userPwd" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline layui-form-item">
                    <div class="layui-input-inline">
                        <img src="~/images/u11.png" />
                        <input type="text" name="code" lay-verify="required|code" autocomplete="off" class="layui-input" placeholder="验证码">
                        <img class="image" src="/Login/VerificationCode" width="200" height="36" onclick="src='/Login/VerificationCode?a='+Math.random()" />
                    </div>
                </div>
                <div class="layui-inline layui-form-item">
                    <a href="#">忘记密码？</a> <a href="User/RegisterView">注册</a>
                </div>
                <br />

                <div class="layui-inline layui-form-item">
                    <button type="button" class="layui-btn" style="width: 190px;" lay-submit="" lay-filter="UserLogin">立即提交</button>
                </div>
            </form>
        </div>
    </div>
    <script src="~/Scripts/layui-v2.6.8/layui/layui.js"></script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

           

            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');

            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                }
                , pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
                , content: function (value) {
                    layedit.sync(editIndex);
                }
            });

            //监听指定开关
            form.on('switch(switchTest)', function (data) {
                layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                    offset: '6px'
                });
                layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
            });

            //监听提交
            form.on('submit(UserLogin)', function (data) {
                console.log(data);
                $.ajax({
                    url: "/Login/Login",
                    type: "post",
                    data: data.field,
                    success: function (msg) {
                        debugger;
                        if (JSON.parse(msg).num == 1) {
                            
                            layer.msg("登录成功", { icon: 1, time: 1000 }, function () {
                                parent.location.href = "/Home/Index?userId=" + JSON.parse(msg).userid;
                            })
                        }
                        if (JSON.parse(msg).num == 3) {
                            layer.msg("用户名或密码错误", { icon: 2, time: 1000}, function () {
                                parent.location.href = "/Login/Index";
                            })
                        }
                        if (msg==2) {
                            layer.msg("验证码错误", { icon: 2 ,time:1000 }, function () {
                                parent.location.href = "/Login/Index";
                            })
                        }
                    }
                })
                return false;
            });

           
        });
    </script>
</body>


</html>