@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Scripts/layui-v2.6.8/layui/css/layui.css" rel="stylesheet" />
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
    <div class="layui-bg-gray" style="padding: 30px;">
        <div class="layui-row layui-col-space15" style="width:2000px">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">数据统计</div>
                    <div class="layui-card-body">

                        <div class="layui-bg-gray" style="padding: 2px;">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md6" style="width:150px">
                                    <div class="layui-card">
                                        <div class="layui-card-header">用户总数</div>
                                        <div class="layui-card-body layui-font-green">
                                            128
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md6" style="width:150px">
                                    <div class="layui-card">
                                        <div class="layui-card-header">角色总数</div>
                                        <div class="layui-card-body layui-font-green">
                                            66
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/Scripts/layui-v2.6.8/layui/layui.js"></script>
</body>
</html>